<table>
  <thead>
      <tr>
          <td>Number</td>
          <td>Name</td>
          <td>Last name</td>
          <td>Average grade</td>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let student of students">
          <td>{{student.number}}</td>
          <td>{{student.name}}</td>
          <td>{{student.lastName}}</td>
          <td>
              <div *ngIf="student.avgGrade!=undefined; else loggedOut">{{student.avgGrade}}</div>
              <ng-template #loggedOut>-</ng-template>
          </td>
      </tr>
  </tbody>
</table> 